.bar_categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* añadido para alinear al inicio y final */
  border: 2px solid #388087;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #388087;
}

.helpersss {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.ant-card-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
}
