.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
}
.todi {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #323b3d;
  border-radius: 10px;
  color: #323b3d;
  padding: 20px;
  width: 40%;
}
