.content-contra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.Contrasena {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 5% 5% 0%; /*acomodar*/
  background-color: #999999; /*acomodar */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
