html {
    height: 100%; 
  }
  
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .todito {
    height: 100%;
    
  }
  
  .content {
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
  }
  
  .content-forget {
    text-align: center;
    padding: 20px;
    border: 2px solid #323B3D;
    border-radius: 10px;
    color: #323B3D;
  }
  .input-password-forget{

    margin-top:20px;

  }
  .btn-forget {
    margin: 30px;
    width: 60%;
    color:#CCF4FC ;
    background: #65797D;
    border: 2px solid #323B3D;

  }

  
  
  
  
  