html {
    height: 100%;
  }
  
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .todito {
    height: 100%;
    
  }
  
  .content {
    padding-top: 10%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .content-forget {
    text-align: center;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    color: #193A3D;
  }
  .input-password-forget{

    margin-top:20px;

  }
  .btn-forget {
    margin: 30px;
    width: 60%;
    color: #193A3D;
    background: blue;
    border: 2px solid black;

  }

  
  
  
  
  