.Info_producto {
    display: flex;
    flex-direction: column;
  }

.Publicar_Todo{
    display: flex;
    justify-content: center;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 30px 80px 80px; /*acomodar*/
    background-color: #999999; /*acomodar */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }