* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

  }
 
  header{
    background: linear-gradient(#388087, #BADFE7);
}

body{
    background-size: 400px;
    background: #BADFE7;
}

.logo{
    margin-top: 10px;
    height: 60px;
    width: 80 px;
}

.content{
    display: flex;
flex-direction: row;
justify-content: center;


}
.content input{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.content_left{

  
  flex-wrap: wrap;
}

  

